<div id="<%= dom_id section %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= section.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= section.color %>
  </p>

</div>
