<% if message.present? && color.present? %>
  <div class="mx-auto w-full xl:w-9/12 flex">
    <p class="mb-5 px-3 py-2 font-medium <%= badge_color_classes(color) %> rounded-lg inline-block">
      <%= message %>
    </p>
  </div>
<% end %>
